@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  /* elimina las viñetas*/
}
body {
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #7e463d;
    background-size: cover;
    min-height: 60vh;
    display: grid;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 60px;
    line-height: 80px;
    color: white;
    margin-bottom: 35px;
    text-align: center;
}

.header-content p {
    font-size: 30px;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
    margin-right: 50px;
}

#sobremi {
    padding: 40px 0;
    background-color: #CE967B;
    text-align: center;
}

#sobremi h2 {
    font-size: 25px;
    line-height: 70px;
    color: saddlebrown;
    padding: 0 250px;
    margin-bottom: 15px;
}

#sobremi p {
    font-size: 20px;
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
}

.Hobbies h2 {
    font-size: 25px;
    line-height: 70px;
    color: saddlebrown;
    padding: 0px 250px;
    margin-bottom: 15px;
    text-align: center;
}

.Hobbies p {
    font-size: 20px;
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 2px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.footer {
  padding: 80px 0;
    background-color:  #7e463d; 
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.link a {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

@media (max-widht:600px) {
    .header {
        display: flex;
    }
    .header-content p {
        padding: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    #sobremi h2 {
        padding:0px;
    }
}